nav
{
    background-color: black;

}
nav div
{
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

body
{
    background-color: rgba(99, 65, 114, 0.411);
    height: 100%;
}
h1
{
    color:brown;
}


button
{
    background-color: aqua;
}
#Box
{
    width: 99%;
    display: flex;
    justify-content:flex-start;
    flex-direction:row;
    background-color: black;
    border-radius: 10px;
    gap: 10px; 
    flex-wrap: wrap;
    
}
.item
{
    text-align:center;
    line-height: 75px;
    background-color: aqua;
    height: 100px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    flex: 1 0 100px
}
