nav
{
    backdrop-filter: blur(10px);
    background-color: rgba(119, 128, 202, 0.096);

}
nav div
{
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

body
{
    background-image: url(Media/Grass.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
h1
{
    color:brown;
}


.ToPage2
{
    border: none;
    background-color: aqua;
    width: 100%;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    border-radius: 15px;
    padding-bottom: 25%;
    text-align:center;
    
}
#Box
{
    width: 99%;
    display: flex;
    justify-content:center;
    flex-direction:row;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    gap: 10px; 
    flex-wrap: wrap;
    
}
.item
{
    max-width: 150px;
    text-align:center;
    line-height: 75px;
    background-color: aqua;
    height: 100px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-width: 10x;
    border: 3px solid rgba(255, 255, 255, 0.616) ;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(127, 255, 212, 0.295);
    flex: 1 0 100px
    
}

.ToPage1
{
    border: none;
    background-color: aqua;
    width: 100%;
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    border-radius: 15px;
    padding-bottom: 75%;
    text-align:center;
     
}

/* Test scroll page */


.carousel
{
    margin: 100px auto;
    width: 90%;
    border: 5px solid rgba(0, 162, 255, 0.178);
    display: flex;
    overflow-x: auto;
    max-width: 1300px;
    justify-content: start;

}
.carousel::-webkit-scrollbar
{
    display: none;
}
.group
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    animation: spin 5s infinite linear;
    padding-right: 10px;
}
.card
{
 
    text-align:center;
    line-height: 75px;
    background-color: aqua;
    width: 200px;
    height: 200px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.616) ;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(127, 255, 212, 0.342);
}
.ToPage3
{
    border: none;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 60%;
    border-radius: 15px;
}

@keyframes spin
{
    from {translate: 0;}
    to{translate: -100%;}
}

/* Page 3 */

.C3
{
    margin: 100px auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Objects
{
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.616) ;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(127, 255, 212, 0.342);
}